{% extends 'layout.html' %}
{%block content %}
        <h1> Olá, {{ name }} !! </h1>
        <h1> Cardápio </h1>

        <section class="grid1">
            <p> Selecione a categoria </p>
            <form action="/index" method="POST">
                <select name="categoria">
                        {% for categoria in resposta %}
                        <option value={{ categoria['id'] }}>{{ categoria['nome'] }}</option>
                        {% endfor %}
                    </select>
              <input type="submit" value="Registrar">
            </form>
    
        </section>

        {% for categoria in resposta %}
                <h2> {{ categoria['nome'] }} </h2>
                <div class="grid3">
                {% for produto in categoria['produtos'] %}
                        <div class="grid3-item">
                        <h3> {{ produto['nome'] }} </h3>
                        <p> {{ produto['descricao'] }} </p>
                        <p> {{ produto['preco'] }} </p>
                {% if categoria['nome'] == 'Cuscuz'%}
                        <img src="{{ produto['fotoUrl'] }}" alt="Cuscuz">
                {% endif %}
                        </div>
                {% endfor %}
                </div class="grid3">
        {% endfor %}
{% endblock %}